<div class="col-md-10 offset-md-1 mt-5">
    <div class="card mb-3"
    *ngFor="let prod of productsData"
    >
        <div class="card-body"
        [ngClass]="{
            'notAvl' : !prod.isAvailable
        }"
        >
            <div class="row">
                <div class="col-md-3">
                    <img class="imgCss" [src]="prod.imgUrl" [alt]="prod.prodName" [title]="prod.prodName">
                </div>
                <div class="col-md-5">
                    <h5>{{prod.prodName}}</h5>
                    <small class="badge badge-primary mb-4"
                    [ngClass]="{
                        'badge-primary' : prod.rating >= 4,
                        'badge-warning' : prod.rating < 4 && prod.rating >= 3.5,
                        'badge-danger' : prod.rating < 3.5
                    }"
                    >
                        {{prod.rating}} <i class="fa-solid fa-star fa-xs"></i>
                    </small>
                    <span class="text-muted ml-2"><strong>{{prod.ratings}} Ratings and {{prod.reviews}} Reviews</strong></span>
                    <ul >
                        <li
                        *ngFor="let feat of prod.features"
                        >{{feat}}</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="price">
                        <i class="fa-solid fa-indian-rupee-sign fa-xl"></i> 
                        <h3 class="d-inline-block mb-0">{{prod.price}}</h3>
                        <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png" alt="Assured img" width="70">
                    </div>
                    <div class="savings">
                        <s><i class="fa-solid fa-indian-rupee-sign fa-xs"></i></s> 
                            <small><s>{{prod.savings}}</s></small>
                            <small class="off">{{prod.off}}% off</small>
                    </div>
                    <small class="delevery">Free Delivery</small>
                    <div class="save">
                        <small>Save extra with combo offer.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>