.imgCss{
    width: 85%;
    height: fit-content;
}

.price{
    position: relative;
    & i{
        position: absolute;
        top: 18px;
    }
    & h3{
        position: absolute;
        left: 20px;
    }
    & img{
        position: absolute;
        left: 118px;
        top: 8px;
    }
}

.savings{
    color: #878787;
    position: relative;
    i{
        position: absolute;
        left: 2px;
        top: 53px;
    }

    small{
        position: absolute;
        left: 10px;
        top: 42px;
    }

    .off{
        position: absolute;
        left: 60px;
        top: 42px;
        font-weight: 500;
        color: rgb(38, 165, 65);
    }
}

.delevery{
    position: relative;
    top: 30%;
}

.save{
    color: rgb(38, 165, 65);
    position: relative;
    top: 30%;
    small{
        font-weight: 500;
    }
}

.notAvl{
    filter: blur(1px) grayscale(1);
}

@media all and (max-width : 800px) {
    .delevery{
        position: relative;
        top: 57%;
    }

    .price{
        & img{
            position: absolute;
            left: 275px;
            top: 8px;
        }
    }

    .savings { 
        i{
        position: absolute;
        left: 129px;
        top: 21px;
    }
    small{
        position: absolute;
        left: 137px;
        top: 9px;
    }
  }

  .savings .off{
    position: absolute;
    left: 204px;
    top: 9px;
    font-weight: 500;
    color: rgb(38, 165, 65);
  }

  .save{
    top: 50%;
  }
}